---
---

<div class="flex justify-center  md:py-32 relative">
  <p class="text-xl text-center md:w-[75%] md:text-4xl">
    Grupo Oslo transforma el <span class="text-ivydisplay uppercase">Real Estate</span> a través de sus 
    unidades de negocio dedicadas al desarrollo y la gestión de <span class="text-ivydisplay uppercase">propiedades y emprendimientos.</span> 
  </p>
	<!-- Imagen de fondo web -->
  <div class="hidden lg:block w-full h-[400px] p-4 md:h-[700px] absolute top-[200px] md:top-[500px] animated-img" id="animated-img">
    <!-- Imagen de fondo del footer -->
    <img src="images/SUM-Salon-Gourmet.webp" alt="" class="object-cover w-full h-full rounded-xl">
  </div>

	<!-- Imagen de fondo mobile -->
	<div class="block lg:hidden w-full h-[400px] p-4 md:h-[700px] absolute top-[200px] md:top-[500px]">
		<!-- Imagen de fondo del footer -->
		<img src="images/SUM-Salon-Gourmet.webp" alt="" class="object-cover w-full h-full rounded-xl">
	</div>
</div>

<style>
	<style>
  /* Estilo inicial para la imagen */
  .animated-img {
    transform: scale(2); /* Escala inicial 200% */
    transform-origin: top; /* Mantener el origen de la transformación en la parte superior */
    transition: transform 0.3s ease-out; /* Transición para suavizar los cambios */
  }
</style>
</style>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const animatedImg = document.getElementById('animated-img');

    if (animatedImg) {
      const maxScroll = document.documentElement.scrollHeight - window.innerHeight; // Altura total del documento menos la ventana visible
      console.log(`Max Scroll: ${maxScroll}`);

      window.addEventListener('scroll', function () {
        const scrollY = window.scrollY;
        // console.log(`Scroll Y: ${scrollY}`);

        // Calcular la proporción del scroll actual basado en maxScroll (rango entre 0 y 1)
        const scrollProgress = Math.min(scrollY / maxScroll, 1); // Asegura que no exceda 1
        // console.log(`Scroll Progress: ${scrollProgress}`);

        // Definir el rango de escalado
        const maxScale = 2; // Escala máxima (200%)
        const minScale = 0.9; // Escala mínima (90%)

        // Calcular la nueva escala basada en el progreso del scroll
        const scale = maxScale - (maxScale - minScale) * scrollProgress;
        // console.log(`Scale: ${scale}`);

        // Aplicar el nuevo tamaño a la imagen
        animatedImg.style.transform = `scale(${scale})`;
        animatedImg.style.transformOrigin = 'top'; // Asegura que el origen de la transformación sea "top"
      });
    }
  });
</script>